<!doctype html>
<html lang="en">
<head>
  <title> Oak Tree </title>
  <link rel='stylesheet' href='/static/mypage.css' />
  <style>

span{z-index:10; position:relative}
div{z-index:1; position:relative}

  </style>

</style>
<body>
  <ul>
    <li><a href="/leaf.html">Leaf Identifier Homepage</a></li>
    <li><a href='/about.html'>About the Project</a></li>
  </ul>
<table width='750' border='0' cellpadding='5'>
  <tbody>
    <tr>
      <td align ='left' valign='top'>
        <p class='pagetitle'>
          My best guess: Oak Leaf
        </p>
        <ul><li>
          <span style='color:white'>
            Here are other images of oak trees for reference.
          </span>
        </li>
        <table border='5' align='center'>
          <tbody>
            <tr>
              <th>
                <a href='static/images/oak/oak_leaf.jpg'>
                  <img src='static/images/oak/oak_leaf.jpg' width='150' height='150' border='0'>
                </a>
              </th>
              <th>
                <a href='static/images/oak/oak_bark.jpg'>
                  <img src='static/images/oak/oak_bark.jpg' width='150' height='150' border='0'>
                </a>
              </th>
              <th>
                <a href='static/images/oak/oak_acorn.jpg'>
                  <img src='static/images/oak/oak_acorn.jpg' width='150' height='150' border='0'>
                </a>
              </th>
              <th>
                <a href='static/images/oak/oak_tree.jpg'>
                  <img src='static/images/oak/oak_tree.jpg' width='150' height='150' border='0'>
                </a>
              </th>
              <th>
                <a href='static/images/oak/oak_bark2.jpg'>
                  <img src='static/images/oak/oak_bark2.jpg' width='150' height='150' border='0'>
                </a>
              </th>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<br>
Hopefully the reference images match what you are seeing. If not, the model may have made a mistake.<br>
If you would like to try again, please upload another picture.<br>

<form action="/upload" method="POST" enctype="multipart/form-data" >
    <span class="btn btn-default btn-file">
      Browse <input type="file" name="image">
    </span>

  <input type="submit" value="Upload your image" class="btn btn-primary">
</form>
